.background {
  background-color: #F7FDFC;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.one {
  display: column;
}

.text {
  text-align: center;
  text-wrap: wrap;
}