*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 10px;
  margin: 0;
  font-family: "Crete Round", sans-serif;
}

.main {
  /* border: 1px solid #ccc; */
}


.button {
  background-color: #038E7D;
}

.details {
  background-color: #1179BF;
  color: #fff;
}

.basicInfo {
  background-color: #fff;
}

.footer {
  margin-top: 10px;
  justify-content: center;
}